<img src= "/assets/top.jpg" class="img-responsive">

<h2>
  <div class="alert alert-info">
  落書き帳
  </div>
</h2>
<p>
  Railsシリーズ課題で作成したブログアプリです。
</p>
<p>
  140字以内の書き込みができます。<br>
  空欄は受け付けません。<br>
  新規投稿時は投稿確認画面が出ます。<br>
  投稿した記事の編集や削除も可能です。<br>
</p>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Bootstrapシリーズ課題2 要件</h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">Railsシリーズ課題で作成したアプリに機能を追加する形で実装すること</li>
    <li class="list-group-item">Bootstrapを導入すること（グリッドシステムを導入すること）</li>
    <li class="list-group-item">HTML,CSSで最低限のデザインを導入すること（背景色、コンテンツの配置に違和感がないようにすること）</li>
    <li class="list-group-item">トップ画面を作成すること
    （トップ画面にはアプリのイメージ画像（好きなもので可）と、アプリの説明文を入れること）</li>
    <li class="list-group-item">レスポンシブデザインにすること（カラムを作成すること）</li>
    <li class="list-group-item">ボタン要素には、Bootstrapで任意のボタンデザインを実装すること
    （ヘッダーとフッターを作成し、layoutとして配置すること。背景などに色をつけること。任意の画像を貼ること）</li>
  </ul>
</div>
