<h1>らくがき詳細画面</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @blog.title %></h3>
  </div>
  <div class="panel-body">
    <p><%= @blog.content %></p>
  </div>
</div>
