<article class="row">
  <h1>Bootstrapシリーズ課題1 要件</h1>
  <div class="panel panel-default col-sm-6 col-md-4">
    <div class="panel-heading">
      <h3 class="panel-title">ひとつめ</h3>
    </div>
    <div class="panel-body">
      <p>1,ヘッダー、フッターの他に、メインとなる記事エリアが6つ以上あること。</p>
    </div>
  </div>
  <div class="panel panel-primary col-sm-6 col-md-4">
    <div class="panel-heading">
      <h3 class="panel-title">ふたつめ</h3>
    </div>
    <div class="panel-body">
      <p>6,ヘッダーとフッターは各ページの共通部分となるのでapp/views/layout/application.html.erbに記述すること。</p>
    </div>
  </div>
  <div class="panel panel-success col-sm-6 col-md-4">
    <div class="panel-heading">
      <h3 class="panel-title">みっつめ</h3>
    </div>
    <div class="panel-body">
      <p>3,各記事エリアの中に、見出しが一つと、コンテンツが4つ以上あること。（中身のテキストはダミーで大丈夫ですが、cssまたはbootstrapを使用してbackground-colorをつけること）</p>
    </div>
  </div>
  <div class="panel panel-info col-sm-6 col-md-4">
    <div class="panel-heading">
      <h3 class="panel-title">よっつめ</h3>
    </div>
    <div class="panel-body">
      <p>4,bootstrapのグリッドシステムを使って、スマホサイズ、タブレットサイズ、PCサイズ以上でレイアウトを変えること。PCサイズ以上でレイアウトを変えること。</p>
    </div>
  </div>
  <div class="panel panel-warning col-sm-6 col-md-4">
    <div class="panel-heading">
      <h3 class="panel-title">いつつめ</h3>
    </div>
    <div class="panel-body">
      <p>5,コンポーネントを使用してヘッダーをグローバルナビゲーションにすること。</p>
    </div>
  </div>
  <div class="panel panel-danger col-sm-6 col-md-4">
    <div class="panel-heading">
      <h3 class="panel-title">むっつめ</h3>
    </div>
    <div class="panel-body">
      <p>6,グローバルナビゲーション以外に最低6つ、コンポーネントを使うこと。</p>
    </div>
  </div>
</article>

<article class="row">
  <h1>DIVE INTO CODE即戦力コース</h1>
          <ul>
              <li class="alert alert-info col-xs-12 col-sm-6 col-md-3 col-lg-1">phase1</li>
              <li class="alert alert-info col-xs-12 col-sm-6 col-md-3 col-lg-1">phase2</li>
              <li class="alert alert-info col-xs-12 col-sm-6 col-md-3 col-lg-1">phase3</li>
              <li class="alert alert-info col-xs-12 col-sm-6 col-md-3 col-lg-1">phase4</li>
              <li class="alert alert-info col-xs-12 col-sm-6 col-md-3 col-lg-1">phase5</li>
              <li class="alert alert-info col-xs-12 col-sm-6 col-md-3 col-lg-1">phase6</li>
              <li class="alert alert-info col-xs-12 col-sm-6 col-md-3 col-lg-1">phase7</li>
              <li class="alert alert-info col-xs-12 col-sm-6 col-md-3 col-lg-1">phase8</li>
              <li class="alert alert-info col-xs-12 col-sm-6 col-md-3 col-lg-1">phase9</li>
              <li class="alert alert-info col-xs-12 col-sm-6 col-md-3 col-lg-1">phase10</li>
              <li class="alert alert-info col-xs-12 col-sm-6 col-md-3 col-lg-1">phase11</li>
              <li class="alert alert-info col-xs-12 col-sm-6 col-md-3 col-lg-1">phase12</li>
          </ul>
</article>
